* text=auto !eol
base/massicot.php -text
css/massicot.css -text
formulaires/inc-apercu-logo.html -text
formulaires/massicoter_image.html -text
formulaires/massicoter_image.php -text
javascripts/formulaireMassicoterImage.js -text
lang/massicot.xml -text
lang/massicot_en.php -text
lang/massicot_fr.php -text
lang/paquet-massicot.xml -text
lang/paquet-massicot_en.php -text
lang/paquet-massicot_fr.php -text
lib/jquery.imgareaselect.js/Makefile -text
lib/jquery.imgareaselect.js/distfiles/GPL-LICENSE.txt -text
lib/jquery.imgareaselect.js/distfiles/MIT-LICENSE.txt -text
lib/jquery.imgareaselect.js/distfiles/css/border-anim-h.gif -text
lib/jquery.imgareaselect.js/distfiles/css/border-anim-v.gif -text
lib/jquery.imgareaselect.js/distfiles/css/border-h.gif -text
lib/jquery.imgareaselect.js/distfiles/css/border-v.gif -text
lib/jquery.imgareaselect.js/distfiles/css/imgareaselect-animated.css -text
lib/jquery.imgareaselect.js/distfiles/css/imgareaselect-default.css -text
lib/jquery.imgareaselect.js/distfiles/css/imgareaselect-deprecated.css -text
lib/jquery.imgareaselect.js/distfiles/scripts/jquery.min.js -text
lib/jquery.imgareaselect.js/imgareaselect.jquery.json -text
lib/jquery.imgareaselect.js/jquery.imgareaselect.dev.js -text
lib/jquery.imgareaselect.js/test/common.js -text
lib/jquery.imgareaselect.js/test/data/elephant-small.jpg -text
lib/jquery.imgareaselect.js/test/data/elephant.jpg -text
lib/jquery.imgareaselect.js/test/jquery-1.3.2.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.4.4.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.5.2.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.6.4.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.7.2.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.8.3.min.js -text
lib/jquery.imgareaselect.js/test/jquery-1.9.0.min.js -text
lib/jquery.imgareaselect.js/test/other/jquery.simulate.js -text
lib/jquery.imgareaselect.js/test/other/jquery.validate.js -text
lib/jquery.imgareaselect.js/test/other/jquery.validate.min.js -text
lib/jquery.imgareaselect.js/test/other/jquery.validate.pack.js -text
lib/jquery.imgareaselect.js/test/qunit/qunit.css -text
lib/jquery.imgareaselect.js/test/qunit/qunit.js -text
lib/jquery.imgareaselect.js/test/test-jquery-1.3.2.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.4.4.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.5.2.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.6.4.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.7.2.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.8.3.html -text
lib/jquery.imgareaselect.js/test/test-jquery-1.9.0.html -text
lib/jquery.imgareaselect.js/test/unit/api.js -text
lib/jquery.imgareaselect.js/test/unit/basic.js -text
lib/jquery.imgareaselect.js/test/unit/keyboard.js -text
lib/jquery.imgareaselect.js/test/unit/misc.js -text
lib/jquery.imgareaselect.js/test/unit/options.js -text
/massicot_administrations.php -text
/massicot_fonctions.php -text
/massicot_pipelines.php -text
/paquet.xml -text
prive/squelettes/contenu/massicoter_image.html -text
prive/squelettes/inclure/lien_recadre.html -text
prive/squelettes/top/massicoter_image.html -text
prive/themes/spip/images/massicot-48.png -text
tests_js/massicot_tests.html -text
tests_js/tests.js -text
